.clicker-container {
    overflow: hidden;
}

.clicker {
    background-size: contain;
    width: 300px;
    height: 300px;
    /* background: radial-gradient(#DDDDDD, #292929) padding-box,
        linear-gradient(#FDFDFD, #888888) border-box; */
    background: radial-gradient(#DDDDDD, #000000) padding-box,
    linear-gradient(#FDFDFD, #888888) border-box;
    border-radius: 100%;
    border: 16px solid transparent;
    transform: scaleX(1);
}

.clicker:active {
    background: radial-gradient(#DDDDDD, #111111) padding-box,
        linear-gradient(#FDFDFD, #888888) border-box;
    /* transform: scaleX(0.98); */
}


.home-page__ff {
    height: 100%;
    width: 100%;
}

@keyframes glass-shine {
    0% {
        box-shadow: -100px -200px 50px 10px rgba(255, 255, 255, 0.8);
        /* начальное положение */
    }

    /* 25% {
        box-shadow: 400px 0 50px 10px rgba(255, 255, 255, 0.8);
    } */

    100% {
        box-shadow: 400px 0 50px 10px rgba(255, 255, 255, 0.8);
        /* конечное положение */
    }
}

.glass {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.glass::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 20px;
    /* ширина полоски блика */
    height: 100%;
    /* высота равна высоте контейнера */
    background: rgba(255, 255, 255, 0.8);
    animation-duration: 8s;
    animation-name: glass-shine;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform: rotate(30deg);
}

.animated-number {
    pointer-events: none;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: var(--white); /* Цвет чисел */
    z-index: 1000;
    animation: moveUp 1s linear forwards;
  }

@keyframes moveUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-150px);
    }
}