.navbar {
    display: flex;
    margin-top: auto;
    /* background-color: var(--second-black); */
    justify-content: center;
    gap: 16px;
    border-radius: 16px;
}

.menu {
  display: flex;
  gap: 4px;
  background-color: var(--second-black);
  border-radius: 16px;
  margin: 8px;
  padding: 4px;
}

.bloc-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 4px 16px;
  gap: 4px;
  font-size: 10px;
  font-weight: 400;
  /* background-color: #292929; */
}

.bloc-active {
  background-color: #292929;
}

.navbar--icon {
  fill: var(--white);
  width: 40px;
  height: 40px;
}
