.friends-page {
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 86px;
    overflow-y: auto;
}

.friends-page__title {
    margin-top: 24px;
    font-size: 32px;
    font-weight: 700;
}

.friends-page__total {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.friends-page__total__button {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--second-black);
    border-radius: 8px;
    padding: 8px 0%;
    border: 1px solid var(--white);
    margin: 0 24px;
}

.friends-page__total__button:active {
    background-color: #262521;
}

.friends-page__total__cost {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: center;
}

.friends-page__total__cost__number {
    font-size: 24px;
}

.friends-page__total__cost__coin {
    width: 24px;
    height: 24px;
}

.friends-page__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.friends-page__list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 0 24px;
    background-color: var(--second-black);
    border-radius: 20px;
}

.friends-page__list__item__total-cost {
    display: flex;
    gap: 8px;
    align-items: center;
}

.friends-page__list__item__total-cost__number {
    font-size: 16px;
}

.friends-page__list__item__total-cost__coin {
    height: 20px;
    width: 20px;
}