.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

.header--left-side {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header--fio {
    font-size: 16px;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
