.home-page {
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    /* background-color: brown; */
}

.home-page__balance {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 12px;
}

.home-page__count {
    font-weight: 500;
    font-size: 32px;
}

.home-page__coin {
    width: 40px;
    height: 40px;
}

.home-page__clicker {
    /* height: 100%; */
    /* width: 100%; */
    /* background: url("/clickerv2.png") center no-repeat; */
    background-size: contain;
    width: 300px;
    height: 300px;
    /* border-radius: 100%; */
    /* border: 16px solid #cb3737; */
    /* border-image: linear-gradient(#f6b73c, #4d9f0c) 30; */
    /* background-color: #ee6f57; */
    /* border-image: linear-gradient(#f6b73c, #4d9f0c) 1; */
    /* background: radial-gradient(#ee6f57, #883F32); */
    background: radial-gradient(#ee6f57, #883F32) padding-box,
              linear-gradient(125deg, #CB3737, #651B1B) border-box;
  border-radius: 100%;
  border: 16px solid transparent;
}

.home-page__ff {
    height: 100%;
    width: 100%;
}